* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e6e6e6;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(270deg, blue, red);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background-color: #ff9239;
    color: #ffffff;
    padding: 1rem;
    text-align: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

main {
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    text-align: center;
}

.card h2 {
    margin-bottom: 0.5rem;
}

.card p {
    margin-bottom: 1rem;
}

.button {
    display: inline-block;
    background: #ff9239;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.button:hover {
    background: #0056b3;
}

img{
    width: 260px;
    height: 370px;
    border-radius: 25px;
}

.foot{
    color: #000000;
}

hr{
    color: #ffffff;
}

.logo{
    width: 17%;
    height: 20%;
}

ul{
    gap: 50px;
}

li{
    padding: 2px;
    border: 0.5px solid #000000;
    border-radius: 5px;
    background-color: #ff9239;
}
